

#start_date #end_date #sel1 #discount {
    width: 140px;
}

#start_date > span:hover {
    cursor: pointer;
}

#end_date > span:hover {
    cursor: pointer;
}

div {
    max-width: 350px;
}

.container-fluid {
    margin-left: 0;
    padding-left: 0;
}

#refund {
	width: 136.72px;
}